@font-face {
   font-family: 'Georgia';
   src: url('../shelter/fonts/Georgia.woff2') format('woff2'), url('../shelter/fonts/Georgia.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}


* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html {
	scroll-behavior: smooth; 
}

.container{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 40px;
	/* min-height: 50px; */
}
.wrapper{
   display: flex;
   min-height: 100%;
   overflow: hidden;
   flex-direction: column;
}
.header,
.footer {
   background: linear-gradient(to right, #3c322d 0%, #3c332f 46%, #221916 100%);
   /* padding: 0 40px; */
}
.start-screen-container,
.header-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex: 1 1 auto;
}
.logo, .nav{
   margin-bottom: 90px;
   margin-top: 30px;
}
.logo-title{
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 32px;
   color: #F1CDB3;
   font-style: normal;
   margin-bottom: 10px;
   letter-spacing: 0.06em;
}
.logo-subtitle{
   font-family: Arial;
   font-style: normal;
   font-size: 13px;
   font-weight: 400;
   color: #ffff;
   letter-spacing: 0.1em;
}
.nav{
   min-width: 443px;
   max-height: 27px;
}
.nav-list{
	display: flex;
   flex-direction: row;
   justify-content: space-between;
   list-style: none;
   padding-bottom: 17px;
   padding-top: 16px;
   
}
.nav-link{
   text-decoration: none;
   color: #CDCDCD;
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
}
.start-screen-container{
   min-height: 728px;
   display: flex;
   flex: 1 1 auto;
}
h1{
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 44px;
   line-height: 130%;
   color: #FFFFFF;
}
.start-screen .subheading{
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 130%;
   color: #CDCDCD;
}
.btn{
   padding: 16px 45px;
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   letter-spacing: 0.06em;
   color: #292929;
   border: 0px #F1CDB3;
   background: #F1CDB3;
   border-radius: 100px;
}
.start-screen .content{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top: 163px;
   margin-bottom: 243px;
   margin-right: 42px;
   flex: 1  1  auto;
   min-width: 460px;
}
.start-screen .content .btn{
   margin-right: auto;
}
.start-img img{
   overflow: hidden;
   position: relative;
}
/*-----------------------------------------------------------*/
.about-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding-left: 175px;
}
h2{
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   letter-spacing: 0.06em;
   color: #545454;
}
.about{
   padding: 80px 0px 95px 0px;
}
.about .subheading{
   font-family: 'Arial';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 160%;
   color: #4C4C4C;
}
.about-content{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   padding: 14px 175px 14px 120px;
}
/*-------------------------------------------------------------------------*/
.pets{
   background: #F6F6F6;
   padding: 70px 0px 100px 0px;
}
.pets .heading{
   text-align: center;
}
.pets-container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-wrap: wrap;
   
}
.slider{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 60px 0;
}
.card{
   background: #FAFAFA;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   min-height: 435px;
   border-radius: 9px;
}
.card p{
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   letter-spacing: 0.06em;
   color: #545454;
}
.pets .btn{
   margin: 0 auto;
}
.card-btn{
   padding: 15px 45px;
   border: 2px solid #F1CDB3;
   border-radius: 100px;
   background: none;
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 17px;
   line-height: 130%;
   letter-spacing: 0.06em;
   color: #292929;
   margin: 0 41.5px 30px 41.5px;
}
/*----------------------------------------------------------------------*/
.help{
   padding: 80px 0px 0px 0px;
}
.help-container{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.help .heading{
   text-align: center;
}
.icons-set{
   display: flex;
   flex-wrap: wrap;
   padding: 60px 27px  45px 27px;
   margin: 0 -60px;
   align-items: center;
   justify-content: center;
}
.icon-item{
   text-align: center;
   padding: 0 60px 55px 60px;
}
.icon-item p{
   white-space: nowrap;
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 115%;
   letter-spacing: 0.06em;
   color: #545454;
   padding-top: 30px;
}
/*-----------------------------------------------------------------------------------*/
.donation-container{
   display: flex;
   justify-content: space-between;
   padding: 80px 142px 100px 143px;
}
.donation{
   background-color: #F6F6F6;
}
.donation-img{
   flex: 0 0 505px;
}
.donation-img img{
   max-width: 100%;
}
.donation-content{
   flex: 1 1 auto;
   padding: 0 0 0 38px;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}
.donation-container .subheading{
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 15px;
   line-height: 110%;
   letter-spacing: 0.06em;
   color: #545454;
}
.donation-container p{
   font-family: 'Arial';
   font-style: italic;
   font-weight: 400;
   font-size: 12px;
   line-height: 18px;
   display: flex;
   align-items: center;
   color: #B2B2B2;
}
.donation-btn{
   padding: 10px 15px;
   gap: 10px;
   background: #F1CDB3;
   border: 1px solid #F1CDB3;
   border-radius: 9px;
   display: flex;
   justify-content: space-between;
   /* margin-right: 25px; */
}
.card-num{
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 115%;
   letter-spacing: 0.06em;
   color: #545454;
   align-items: center;
   
}
/*-----------------------------------------------------------------------*/
.footer-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* margin: 0 40px; */
   /* max-width: 278px; */
   /* flex: 1 1 33.33333%; */
}
.contacts-block{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.contacts .heading,
.locations .heading {
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 35px;
   line-height: 130%;
   letter-spacing: 0.06em;
   color: #FFFFFF;
   white-space: nowrap;
}
.footer-container p{
   font-family: 'Georgia';
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 115%;
   letter-spacing: 0.06em;
   color: #F1CDB3;
}
.email{
   background: url(/img/icons/icon-email.svg) left no-repeat;
   padding: 1px 0 1px 60px;
}
.phone{
   background: url(/img/icons/icon-phone.svg) left no-repeat;
   padding: 4px 0 4px 60px;
}
/*
.contacts{
   margin: 16px 0 60px 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   max-width: 278px;
   flex: 1 1 33.33333%;
} 
.locations{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 16px 0 60px 0;
   max-width: 302px;
}
.adress{
   background: url(/img/icons/icon-marker.svg) left no-repeat;
   padding: 5px 0 5px 42px;
} */

/*-------------------------------------------------------------------------------*/
@media (max-width: 768px){
   .container{
      margin: 0 auto;
      padding: 0 30px;
   }
   .header {
      min-height: 1165px;
   }
   .start-screen-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-bottom: -5px;
   }
   .logo, .nav{
      margin-bottom: 60px;
      /* margin-top: 30px; */
   }
   .start-screen .content{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /* padding: 0 54px 0 55px; */
      margin: 0 auto;
      margin-bottom: 0px;
      flex: 1  1  auto;
      max-width: 460px;
      min-height: 322px;
   }
   .start-screen .content .btn {
      margin: 0 auto;
   }
   .start-img img{
      width: 569px;
      height: 100%;
      padding-top: 100px;

   }
   .start-img{
      margin-right: -70px;
      margin-left: 70px;
   }
   /*--------------------------------------------------------*/
   .about-container{
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      margin-bottom: -5px;
   }
   .about-content{
      padding: 0;
      max-width: 430px;
      min-height: 380px;
      margin: 0 auto;
   }
   .about-img{
      padding: 80px 0 5px 0;
   }
   /*------------------------------------------------------*/
   .help-container{
      margin-bottom: -3px;
   }
   
   /*-------------------------------------------------------*/
   .donation{
      padding-top: 80px;
      max-height: 783px;
   }
   .donation-container{
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
      
   }
   .donation-content{
      max-width: 380px;
      min-height: 282px;
      margin: 0 auto;
      padding: 0;
   }
   .donation-btn{
      margin-right: 31px;
   }
   .donation-img{
      padding: 60px 0 0 0;
   }
/*--------------------------------------------------------------------*/
   .footer-container{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .contacts-block{
      display: flex;
      justify-content: space-between;
      gap: 60px;
      padding-top: 30px;
      margin-bottom: 65px;
   }
   .contacts{
      margin: 0;
      max-height: 234px;
   }

}